node_modules/
coverage/
sap/
$tmp-*/
x4/
*.js
*.js.map
*.log
!options.js
.DS_store
downloads/
.history
.idea/
!src/s4one/processmap/scripts/XREPPopulator.js
!src/s4one/processmap/scripts/XREPSearch.js
coverage/
.nyc_output/
.tsBuildInfoFile
!.pipeline/
